@font-face{
    font-family: logo;
    src: url(.\assets\AnadaBlack.ttf);
}

.logo-font {
    font-family: logo;
}
*{
    user-select: none;
}
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;
 
}

::-webkit-scrollbar-track{
    width: 5px;
    background: rgb(69 69 69 /0.03);  
}
::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 30px;
    background: linear-gradient(to bottom, transparent ,rgb(69 69 69 /0.2)); 
}